@charset "UTF-8";

/* Reset 시작 */
* {
  color: #333; /* 기본 텍스트 색 */
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  /* 배경색 */
}

a:link {
  color: #444;
}
a:visited {
  color: #444;
}
a:hover {
  color: #555;
}
a:active {
  color: #555;
}

img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
.flex-container {
  display: flex;
}

/* IE 낮은 버전에서 동일하게 출력용 */
header,
nav,
main,
footer,
aside,
section,
article {
  display: block;
}

/* Reset 끝 */

/* Guide Line 가이드 라인 시작 */
/* 
div#wrap {
  border: 1px solid #000;
} */
/* 
header#header {
  border: 1px solid #000;
}

main#main {
  padding: 0 10px;
  border: 1px solid #000;
}

div#slide {
  border: 1px solid #000;
}

div#contents {
  border: 1px solid #000;
}

footer#footer {
  border: 1px solid #000;
} */

/* Guide Line 가이드 라인 끝 */

/* div#wrap 시작 */
div#wrap {
  width: 1000px;
  margin: 10px;
}
/* div#wrap 끝 */

/* header#header 시작 */
header#header {
  width: 200px;
}

/* nav#gnb 시작 */

nav#gnb {
  padding: 3px;
  /* border: 1px solid #000; */
  margin: 2px;
}

#gnb > ul#mainMenu {
  padding: 10px;
  /* border: 1px solid #f80; */

  position: relative;
}

#gnb li.mainLi {
  text-align: center;
  /* border: 1px solid #08f; */
}

#gnb a {
  width: 150px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  border: 1px solid #aaa;
  display: inline-block;
}

#gnb li.mainLi > a {
  height: 50px;
  line-height: 50px;
}

/* 하이라이트 효과 시작 */
#gnb li.mainLi:hover > a {
  /* 메인메뉴 하이라이트 효과 */
  color: #fff;
  background-color: rgba(0, 136, 255, 0.8);
}

/* 서브메뉴 하이라이트 효과 시작 */
#gnb li.subLi a {
  color: #fff;
  background-color: rgba(0, 136, 255, 0.8);
}
#gnb li.subLi a:hover {
  color: #444;
  background-color: #fff;
}
/* 서브메뉴 하이라이트 효과 끝 */

#gnb ul.subMenu {
  /* 서브메뉴 숨기기 */
  display: none;

  position: absolute;
  left: 168px;
  top: 0px;
  z-index: 9999;
}

#gnb li.subLi:last-child a {
  padding-bottom: 160px;
}

/* 하이라이트 효과 끝 */

/* nav#gnb 끝 */

/* header#header 끝 */

/* main#main 시작 */
main#main {
  flex: 1;
}

/* div#slide 시작 */
div#slide {
  width: 780px; /* 기본값 */
  height: 350px;

  /* overflow: hidden; */
}
#slide > div#shuttleFrame {
  width: 780px;
  height: 350px;
  /* border: 2px solid #f00; */
}

#slide a {
  width: 780px;
  height: 350px;
  display: inline-block;
  position: absolute;
}

#slide a:not(:first-child) {
  display: none;
}

#slide span {
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  border: 4px solid #aaa;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.801);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* div#slide 끝 */

/* div#contents 시작 */
div#contents {
  height: 200px;
}
#main #contents > * {
  padding: 20px 4px;
  /* border: 1px solid #000; */
}

/* #main #bbsNotice 시작  */
#main #bbsNotice {
  width: 310px;
}
/* #main #bbsNotice 끝  */

/* #main #bbsGallery 시작  */
#main #bbsGallery {
  width: 320px;
}
/* #main #bbsGallery 끝  */

#main button {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 2px 10px;
  border: 1px solid #aaa;
  position: relative;
  left: 16px;
  top: 1px;
}

#main #bbsNotice button {
  border-bottom-color: #fff;
  background-color: #fff;
}

#main div.tabContents {
  padding: 10px 4px;
  border: 1px solid #aaa;
}

#main #bbsNotice table td {
  font-size: 15px;
  line-height: 21px;
}
#main #bbsNotice table td:first-child {
  padding-right: 13px;
}

#main #bbsGallery table {
  margin: 0 auto;
}
/* #main #banner 시작  */
#main #banner {
  width: 150px;
}

#main #banner a {
  height: 148px;
  line-height: 148px;
}

/* #main #banner 끝  */

/* div#contents 끝 */

/* footer#footer 시작 */
#main footer#footer {
  height: 100px;
}

#main #footer div#rightArea {
  flex: 1;
}

/* div#footerLogo 시작 */
#footer div#footerLogo a {
  height: 100px;
  text-align: center;
  line-height: 100px;
  display: inline-block;
}
/* div#footerLogo 끝 */

/* nav#footerMain 시작 */

#footer #footerMain li {
  /* border: 1px solid #000; */
  float: left;
}
#footer #footerMain li:first-child {
  margin-left: 34px;
}
#footer #footerMain::before {
  content: "";
  height: 50px;
  /* border: 1px solid #000; */
  display: inline-block;
}

#footer #footerMain a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  /* border: 1px solid #000; */
  display: inline-block;
}
/* nav#footerMain 끝 */

/* div#copyright 시작 */
div#copyright {
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* border: 1px solid #f00; */
}
/* div#copyright 끝 */

/* footer#footer 끝 */

/* div#contents 끝 */

/* main#main 끝 */

/* 레이어팝업 div#layerBG 시작 */
tr#popPoint {
  cursor: pointer;
}

div#layerBG {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);

  display: none;
}

div#layerPopup {
  padding: 30px;
  border: 4px solid #aaa;
  border-radius: 10px;

  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#layerPopup h1 {
  text-align: center;
}

#layerBG ol {
  font-size: 20px;
  line-height: 36px;
  margin: 20px 0;

  list-style-position: inside;
}
#layerBG ol span {
  text-indent: 110px;
  display: inline-block;
}
#layerPopup div#closeBtnArea {
  text-align: right;
}
#layerPopup button {
  font-size: 17px;
  font-weight: bold;
  padding: 2px 14px;
}
/* 레이어팝업 div#layerBG 끝 */
