@charset "UTF-8";

/* Reset 시작 */
* {
  color: #333; /* 기본 텍스트 색 */
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  /* 배경색 */
}

a:link {
  color: #444;
}
a:visited {
  color: #444;
}
a:hover {
  color: #555;
}
a:active {
  color: #555;
}

img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
.flex-container {
  display: flex;
}

/* Reset 끝 */

/* Guide Line 가이드 라인 시작 */

div#wrap {
  border: 1px solid #000;
}

header#header {
  border: 1px solid #000;
}

main#main {
  border: 1px solid #000;
}

div#slide {
  border: 1px solid #000;
}

div#contents {
  border: 1px solid #000;
}

footer#footer {
  border: 1px solid #000;
}

/* Guide Line 가이드 라인 끝 */

/* div#wrap 시작 */
div#wrap {
  width: 1000px;
  margin: 10px;
}
/* div#wrap 끝 */

/* header#header 시작 */
header#header {
  width: 200px;
}
/* nav#gnb 시작 */

/* nav#gnb {
  border: 1px solid #000;
} */

#gnb > ul#mainMenu {
  padding: 10px;
  /* border: 1px solid #08f; */
  margin: 10px;

  /* 세로 2열에서만 적용함  CSS 119번줄과 연계됨*/
  position: relative;
}

#gnb #mainMenu > li {
  text-align: center;
  /* border: 1px solid #f80; */
}

#gnb a {
  width: 150px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border: 1px solid #aaa;
  display: inline-block;
}
#gnb .mainLi > a {
  /* 메인메뉴와 서브메뉴 구분 */
  height: 50px;
  font-size: 17px;
  line-height: 50px;
}

#gnb ul.subMenu {
  display: none;
  /* position: relative;  1열에서 적용함 */
  /* 2열일 경우 적용할 소스 줄번호 129 번줄까지 적용 */
  position: absolute;
  left: 163px;
  top: 0;
}

#gnb ul.subMenu li:last-child a {
  padding-bottom: 160px;
}

#gnb .mainLi:hover > a {
  color: #fff;
  background-color: rgba(0, 128, 255, 0.8);
}

/* 서브메뉴 하이라이트 역상 적용 시작 */
#gnb .subLi a {
  color: #fff;
  background-color: rgba(0, 128, 255, 0.4);
}

#gnb .subLi a:hover {
  color: #444;
  background-color: rgba(255, 255, 255, 0.6);
}
/* 서브메뉴 하이라이트 역상 끝 */

/* nav#gnb 끝 */

/* header#header 끝 */

/* main#main 시작 */
main#main {
  flex: 1;
}

/* div#slide 시작 */
div#slide {
  width: auto; /* 기본값 */
  height: 350px;
}
/* div#slide 끝 */

/* div#contents 시작 */
div#contents {
  height: 200px;
}
#main #contents > * {
  flex: 1;
}
/* div#contents 끝 */

/* footer#footer 시작 */
#main footer#footer {
  height: 100px;
}
/* footer#footer 끝 */

/* div#contents 끝 */

/* main#main 끝 */
